<h1>Editing <%= @dragon.name %></h1>

<%= form_for @dragon do |f| %>
  <p>Name:<%= f.text_field :name %></p>
  <p>Owner: <%= f.collection_select :user_id, User.all, :id, :name %></p>

  <p><%= f.submit "Submit Change" %></p>
  <% end %>
