<%= link_to "< Return to All Dragons", dragons_path %>

<h1><%= @dragon.name %></h1>

<p>Owner Name: <%= link_to @dragon.user.name, @dragon.user %></p>

<%= link_to "Edit Dragon", edit_dragon_path(@dragon) %>
<%= button_to "Delete Dragon", @dragon, :method => :delete %>
