<%= link_to "< Return to All Users", users_path %>

<h1><%= @user.name %></h1>

<p>Dragons:</p>
<ul>
  <% @user.dragons.each do |dragon| %>
    <li><%= link_to dragon.name, dragon %></li>
  <% end %>
</ul>

<%= link_to "Edit User", edit_user_path(@user) %>
<%= button_to "Delete User", {:controller => :users, :action => "destroy", :method => :delete} %>
